# **ARIMA**

In [2]:
import yfinance as yf

In [23]:
df = yf.download("TATAMOTORS.NS", start="2020-05-13",
            end= "2024-05-13", rounding= True)

[*********************100%***********************]  1 of 1 completed

In [ ]:
df['Close'].plot()

In [32]:
from statsmodels.tsa.stattools import adfuller

In [ ]:
adfuller(df['Close'])

In [ ]:
adfuller(df['Close'].diff().dropna())

In [ ]:
! pip install pmdarima

In [47]:
import pmdarima as pm

In [ ]:
arima_model = pm.auto_arima(y= df['Close'],
                          start_p=1, start_q= 1,
                          max_p=5, max_q=5, max_d=1, trace= True)

In [52]:
arima_model.predict(5)

/usr/local/lib/python3.11/dist-packages/statsmodels/tsa/base/tsa_model.py:837: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
/usr/local/lib/python3.11/dist-packages/statsmodels/tsa/base/tsa_model.py:837: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(
/usr/local/lib/python3.11/dist-packages/sklearn/utils/deprecation.py:151: FutureWarning: 'force_all_finite' was renamed to 'ensure_all_finite' in 1.6 and will be removed in 1.8.
  warnings.warn(

991    1042.835393
992    1045.905836
993    1045.215481
994    1047.485532
995    1047.425225
dtype: float64